body{
    background-color: grey;
    color: aliceblue;
}
#survey{
    display: flex;
    justify-content: center;
    border: 10px solid black;
    height: 1000px;
    width: 60%;
    margin: 5% 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
